.container{
    margin: 80px auto;
    width: 85%;
}
.iamgeContainer{
    display: flex;
    justify-content: center;
}
.image img{
    width: 180px;
}
.form{
    margin: 40px auto;
    border-radius: 15px;
    width: 100%;
    -webkit-box-shadow:0px 4px 40px 0px rgba(62,66,66,0.23);
    -moz-box-shadow: 0px 4px 40px 0px rgba(62,66,66,0.23);
    box-shadow: 0px 4px 40px 0px rgba(62,66,66,0.23);
}
.errors{
    color: red;
}
.linkLogout{
    background-color: rgb(126, 87, 194);
    color: #fff;
    border: 1px solid rgb(126, 87, 194);
}
.linkLogin{
    border: 1px solid rgb(126, 87, 194);
    color: rgb(126, 87, 194);
    border: 1px solid rgb(126, 87, 194);
}
.linkLogin, .linkLogout{
    display: flex;
    align-items: center;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btnLinkRoute{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 130px;
    width: 220px;
    margin: 0 auto;
}
.iconLogout, .iconLogin{
    font-size: 22px;
    padding: 0 0 0 5px;
}
.titleForm{
    text-align: center;
    font-weight: bold;
    padding: 50px 0 0 0; 
    font-size: 25px;
    color: rgb(110, 110, 110);
}
.formInformation{
    margin: 0 auto;
    width: 85%;
}
.inputPhone, .inputName{
    font-size: 20px;
    padding: 0 15px;
    width: 90%;
    display: block;
    border-radius: 5px;
    height: 50px;
    margin: 5px 0;
    border: 0.5px solid silver;
}
.inputPhone:focus{
    outline: none !important;
    border: 2px solid rgb(126, 87, 194);    
}
.inputName:focus{
    outline: none !important;
    border: 2px solid rgb(126, 87, 194);    
}
.textNumberPhone{
    font-weight: bold;
    padding: 40px 0 0 0;
    color: rgb(110, 110, 110);
}
.btnSend{
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(126, 87, 194);
    font-size: 18px;
    cursor: pointer;
    margin: 25px auto;
    display: block;
    padding: 7px;
}
.linkSubmit{
    width: 100%;
    height: 100%;
    padding: 20px 60px;
    text-decoration: none;
    color: #fff;
}
form{
    height: 300px;
}




@media (min-width: 1200px) {
    .container{
        width: 1100px;
    }
}

@media (min-width: 600px) {
    .form{
        width: 500px;
    }
}