.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    border-bottom: 1px solid silver;
}
.textComment{
    text-align: justify;
    font-weight: bold;
    line-height: 25px;
}
.commentTexts{
    width: 50%;
}
.iconGender{
    font-size: 30px;
    color:blueviolet;
    background-color: rgb(192, 192, 192);
    border-radius: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 15px 0 8px 20px;
}
.headComments{
    display: flex;
    align-items: center;
}
.stundetName{
    font-weight: bold;
    font-size: 20px;
}
.studentCourses{
    color: rgb(139, 139, 139);
}
.video{
    margin: 15px;
    width: 38%;
}
.studentCourses{
    padding: 10px 0;
    font-size: 13px;
}


@media (max-width: 900px) {
    .container{
        flex-direction: column;
    }
    .commentTexts{
        width: 100%;
    }
    .image{
        width: 80% ;
    }
    .video{
        width: 60%;
    }
}
@media (max-width: 600px) {
    .image{
        width: 100%;
    }
    .video{
        width: 90%;
    }
}
@media (max-width: 400px) {
    .headComments{
        flex-direction: column;
        align-items: flex-start;
        margin: 15px 0;
    }
    .video{
        width: 100%;
    }
}