.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.title{
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0;
}
.video{
    width: 50%;
    background-color: aqua;
    margin: 0 auto;
}
.textStudent{
    font-weight: bold;
    text-align: justify;
    width: 60%;
    padding: 20px 0;
    line-height: 25px;
}
.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(232, 234, 246);
    padding: 10px 15px;
    border-radius: 15px;
    width: fit-content;
    font-size: 22px;
    cursor: pointer;
}
.btnSlider{
    display: flex;
    align-items: center;
    color: rgb(126, 87, 194);
    font-size: 40px;
}
.showCorses{
    display: flex;
    justify-content: space-between;
}
.slider{
    width: 50%;
    margin: 0 auto;
}
.slider img{
    margin: 0 auto;
}
.iconNextSlider, .iconPrevSlider{
    cursor: pointer;
    margin: 0 7px;
}




@media (max-width: 900px) {
    .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .video{
        width: 60%;
    }
    .slider{
        width: 100%;
        margin: 30px 0;
    }
    .textStudent{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .video{
        width: 90%;
    }
    .slider img{
        width: 100%;
    }
}
@media (max-width: 400px) {
    .video{
        width: 100%;
    }
}