
@font-face {
    font-family: 'iranVazir';
    src: url(../fontVazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff);
}
*{
    margin: 0;
    padding: 0;
    font-family: iranVazir;
}
body{
    overflow-x: hidden;
}
