.container{
    display: flex;
    align-items: center;
    width: 85%;
    margin: 50px auto;
}
.div1{
    width: 50%;
}
.div2{
    width: 50%;
}
.text{
    text-align: justify;
    line-height: 27px;
    font-weight: bold;
    color: rgb(136, 136, 136);
}
.imageContainer{
    display: flex;
    align-items: center;
    padding: 25px 10px;
}
.imageContainer img{
    width: 150px;
    cursor: pointer;
    margin-left: 15px;
}
.title{
    font-weight: bold;
    font-size: 23px;
    color: rgb(136, 136, 136);
}
.textTitle{
    font-weight: bold;
    color: rgb(136, 136, 136);
    font-size: 14px;
}
.footerText{
    text-align: center;
    color: rgb(136, 136, 136);
    font-weight: bold;
    padding: 15px 0 0 0;
}
.heartIcon{
    color: red;
}
.urlTest{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 0 25px;
}
.one, .tow{
    width: 50%;
}
.imageZarinpal{
    width: 60px;
    margin: 15px 0;
}
.tow p, .one p{
    font-weight: bold;
    font-size: 20px;
    color: rgb(136, 136, 136);
}
.pageUrlText{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(136, 136, 136);
    padding: 7px 0;
}
.icons{
    display: flex;
    padding: 5px 25px;
    align-items: flex-end;
    height: 100px;
}
.icon{
    color: rgb(126, 87, 194);
    padding-left: 20px ;
    font-size: 27px;
    cursor: pointer;
}







@media (max-width: 900px) {
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .imageContainer {
        padding: 25px 0;
    }
    .div1, .div2{
        width: 100%;
        margin-top: 30px;
    }
    .urlTest{
        padding: 0;
    }
    .icons{
        padding: 40px 0;
        height: 20px;
    }

}
@media (max-width: 600px) {
    .imageContainer{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
    .icons{
        padding: 40px 0;
    }

    .urlTest{
        flex-direction: column;
        justify-content: start;
        padding: 0;
        align-items: flex-start;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1100px;
    }
}