.container{
    width: 85%;
    margin: 60px auto;
}
.titleProducts{
    display: flex;
    justify-content: space-between;
}
.freeCourses{
    background-color: #aa95ce;
}
.ofFreeCourses{
    background-color: rgb(116, 116, 116);

}
.ofFreeCourses, .freeCourses{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}
.ofFreeCourses div{
    background-color: black;
    transform: translateX(5px);
}
.freeCourses div{
    background-color: rgb(126, 87, 194);
    transform: translateX(30px);
}
.freeCourses div, .ofFreeCourses div{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    transition: all 0.5s;
}
.toggleFreeCourses{
    display: flex;
    align-items: center;
}
.toggleFreeCourses span{
    font-weight: bold;
    font-size: 20px;
    padding: 0 15px 0 0;
}
.title{
    font-weight: bold;
    font-size: 28px;
    padding: 15px 0;
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
}


@media (min-width: 1200px) {
    .container{
        width: 1100px;
    }
}
@media (max-width: 900px) {
    .titleProducts{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}