@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

body {
    overflow-x: hidden;
}
p, h1, h2, h3, h4, h5, span, div, li, a{
    font-family: "Vazirmatn", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: iranVazir;
}