.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    position: relative;
    background-color: red;
}

.item_slide {
    background-color: white;
    direction: rtl;
    border-radius: 10px;
    padding: 35px;
    -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
}
.swiper-slide-prev{
    background-color: white;
}
.item_slide>h1 {
    background-color: white !important;
    border-radius: 10px;
    color: #7C3AED;
    padding: 0 0 20px 0;
    font-weight: 900;
    font-size: larger;
}